
<h1>PROJECT API LIST :-</h1>
        <h2>1:To add a new proj : </h2>
            <h4><pre>Method:POST           Url:master/proj/add</pre></h4>
<h4><pre>Argument: {data:{proj_id : proj_id,
        name : name,
        comp : comp,
        proj_url:proj_url,
        description : description,
        proj_type : proj_type,
        proj_status : proj_status,
        artifacts : [
        {
            name : name,
            link : link
        }],
        users : [
        {
            user_id : user_id,
            name : name,
            contact : contact,
            mobile : mobile
        }],
        modules : [
        {
            name : name,
            description : description
        }]
        },
        current_user:current_user}</pre></h4>
        <h2>2:To edit a proj : </h2>
            <h4><pre>Method:POST           Url:master/proj/edit</pre></h4>
<h4><pre>Argument: {data:{proj_id : proj_id,
        name : name,
        proj_url:proj_url,
        description : description,
        proj_type : proj_type,
        proj_status : proj_status,
        artifacts : [
        {
            name : name,
            link : link
        }],
        users : [
        {
            user_id : user_id,
            name : name,
            contact : contact,
            mobile : mobile
        }],
        modules : [
        {
            name : name,
            description : description
        }]
        },
        current_user:current_user}</pre></h4>

        <h2>3:To get proj all list or filtering list by partial search: </h2>
            <h4><pre>Method:POST           Url:master/proj/list_search</pre></h4>
<h4><pre>Argument: {skip:0,limit:20} or
          {skip:0,limit:20,proj_id :proj_id} or
          {skip:0,limit:20,name : name} or
          {skip:0,limit:20,description : description} or
          {skip:0,limit:20,proj_type : proj_type} or
          {skip:0,limit:20,proj_status : proj_status}</pre></h4>
        <h2>4:To get proj details by id/email : </h2>
              <h4>Method:POST              Url:master/proj/get_detail</pre></h4>
<h4><pre>Argument: {} or
          {proj_id :proj_id} or
          {name : name} or
          {description : description} or
          {proj_type : proj_type} or
          {proj_status : proj_status} or
          {user:user}</pre></h4>

        <h2>5:To delete a proj by Id : </h2>
              <h4>Method:POST              Url:master/proj/delete_by_id</pre></h4>
<h4><pre>Argument: {proj_id :proj_id} </pre></h4>
        <h2>6:Partially update of a proj data as on require field : </h2>
               <h4>Method:POST             Url:master/proj/update_partially</pre></h4>
<h4><pre>Argument: {data:{proj_id : proj_id,
        name : name,
        description : description,
        proj_type : proj_type,
        proj_status : proj_status,
        artifacts : [
        {
            name : name,
            link : link
        }],
        users : [
        {
            user_id : user_id,
            name : name,
            contact : contact,
            mobile : mobile
        }],
        modules : [
        {
            name : name,
            description : description
        }]
        },
           id : {proj_id :proj_id}                      *** required
    }</pre></h4>
<h2>7:To push a array proj by Id : </h2>
<h4><pre>Method:POST           Url:master/proj/push</pre></h4>
<h4><pre>Argument: {proj_id : proj_id,
            artifacts : [],
            users :[],
            modules : [],}</pre></h4>

<h2>NB:** to change selected field in user_security search configure in include_field.json</h2>
<h2>NB:** you have to send security token on header as token</h2>

<br><br><br><br><br>

